@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Common Styling  Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #161616;
}

a {
  text-decoration: none;
  color: #161616;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  /* border: 1px solid; */
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 3px;
}

.bg-red {
  color: white;
  background-color: #dd0000;
}

.bg-white {
  background-color: white;
}
.gray-border {
  border: 1px solid #ddd;
}

/* Common Styling  End */

/* Header Styling  Start */

header .container {
  margin: 15px auto 30px auto;
  min-height: 400px;
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: #161616;
  color: white;
  border-radius: 10px;
  padding: 15px;
}

header .container > * {
  width: 50%;
  padding: 0 50px;
}

header .container .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .text div > * {
  margin-bottom: 12px;
}

header .container .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .image img {
  position: absolute;
  bottom: 0;
}

/* Header Styling End  */

/* Navigation & Blog Styling Start  */

.nav-blogs {
  margin: 70px 0;
}

.nav-blogs .container {
  display: flex;
  justify-content: center;
}
.nav-blogs .container .nav {
  width: 25%;
}

.nav {
  margin-right: 12px;
}

nav {
  width: 230px;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}

nav > * {
  margin-bottom: 15px;
}

.nav-blogs .container .blogs {
  width: 75%;
}

.nav-blogs .container .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.nav-blogs .container .blogs article {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.nav-blogs .container .blogs article img {
  width: 100%;
  object-position: cover;
}

.nav-blogs .container .blogs article > *,
.nav-blogs .container .blogs article > * > * {
  margin-bottom: 2px;
}

.nav-blogs .container .blogs article .info {
  padding: 10px;
}

.nav-blogs .container .blogs article .btn {
  border: 1px solid #dbdbdb;
  padding: 2px 5px;
  margin-top: -15px;
}

.nav-blogs .container .blogs article .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.nav-blogs .container .blogs article .icons div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation & Blog Styling End */

/* footer Styling Start  */

footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 40px 0;
}

footer .goal {
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

footer i {
  margin-right: 10px;
}

/* footer Styling End  */

@media screen and (max-width: 688px) {
  header .container {
    display: block;
  }
  header .container > * {
    height: auto;
    width: 100%;
  }
}

/* Match Website  Start*/

/* Upcoming Matches Styling Start  */

.matches {
  width: 75%;
  min-height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 12px;
  gap: 12px;
}

.match {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.match .flag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 15px;
}

.match .details {
  text-align: center;
  margin-bottom: 25px;
}

/* Upcoming Matches Styling End   */

/* Media Queries  */

/* Mobile Device Start  */

@media only screen and (max-width: 688px) {
  header .container > * {
    padding: 0 20px;
  }
  header .container .image {
    height: 360px;
    width: 100%;
  }

  header .container .image img {
    left: -2.5rem;
  }
  header .container .text .btn {
    display: block;
    margin: auto;
    width: 150px;
  }
  .nav-blogs .container {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .match .flag img {
    width: 20vw;
  }

  .nav-blogs .container > * > * {
    margin: auto;
  }

  .nav-blogs .container .nav {
    width: 100%;
  }

  .nav-blogs .container .nav nav {
    margin: auto;
    background-color: white;
  }

  .nav-blogs .container .blogs {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  footer .links {
    display: block;
  }

  .matches {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Mobile Device End  */

/* Tablet Device Start  */

@media only screen and (min-width: 689px) and (max-width: 1080px) {
  header .container > * {
    /* border: 1px solid; */
    width: 50%;
    padding: 0 30px;
  }
  .nav-blogs .container {
    flex-direction: column;
    gap: 10px;
  }
  .nav-blogs .container .nav,
  .nav-blogs .container .blogs,
  .nav-blogs .container .matches {
    width: 100%;
  }

  .nav-blogs .container .nav nav {
    background-color: white;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }

  .nav-blogs .container .nav nav > * {
    flex-grow: 1;
  }

  .nav-blogs .container .blogs,
  .nav-blogs .container .matches {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop Device End  */
